In [2]:
import datetime as dt  		  	   		  		 		  		  		    	 		 		   		 		  
import os  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
import numpy as np  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
import pandas as pd  		  	   		  		 		  		  		    	 		 		   		 		  
from util import get_data, plot_data

In [4]:
def compute_portvals(  		  	   		  		 		  		  		    	 		 		   		 		  
    orders_file="./orders/orders.csv",  		  	   		  		 		  		  		    	 		 		   		 		  
    start_val=1000000,  		  	   		  		 		  		  		    	 		 		   		 		  
    commission=9.95,  		  	   		  		 		  		  		    	 		 		   		 		  
    impact=0.005,  		  	   		  		 		  		  		    	 		 		   		 		  
):  		  	   		  		 		  		  		    	 		 		   		 		  
    """  		  	   		  		 		  		  		    	 		 		   		 		  
    Computes the portfolio values.  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    :param orders_file: Path of the order file or the file object  		  	   		  		 		  		  		    	 		 		   		 		  
    :type orders_file: str or file object  		  	   		  		 		  		  		    	 		 		   		 		  
    :param start_val: The starting value of the portfolio  		  	   		  		 		  		  		    	 		 		   		 		  
    :type start_val: int  		  	   		  		 		  		  		    	 		 		   		 		  
    :param commission: The fixed amount in dollars charged for each transaction (both entry and exit)  		  	   		  		 		  		  		    	 		 		   		 		  
    :type commission: float  		  	   		  		 		  		  		    	 		 		   		 		  
    :param impact: The amount the price moves against the trader compared to the historical data at each transaction  		  	   		  		 		  		  		    	 		 		   		 		  
    :type impact: float  		  	   		  		 		  		  		    	 		 		   		 		  
    :return: the result (portvals) as a single-column dataframe, containing the value of the portfolio for each trading day in the first column from start_date to end_date, inclusive.  		  	   		  		 		  		  		    	 		 		   		 		  
    :rtype: pandas.DataFrame  		  	   		  		 		  		  		    	 		 		   		 		  
    """  		  	   		  		 		  		  		    	 		 		   		 		  
    # this is the function the autograder will call to test your code  		  	   		  		 		  		  		    	 		 		   		 		  
    # NOTE: orders_file may be a string, or it may be a file object. Your  		  	   		  		 		  		  		    	 		 		   		 		  
    # code should work correctly with either input  		  	   		  		 		  		  		    	 		 		   		 		  
    # TODO: Your code here  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    # In the template, instead of computing the value of the portfolio, we just  		  	   		  		 		  		  		    	 		 		   		 		  
    # read in the value of IBM over 6 months  		  	   		  		 		  		  		    	 		 		   		 		  
    start_date = dt.datetime(2008, 1, 1)  		  	   		  		 		  		  		    	 		 		   		 		  
    end_date = dt.datetime(2008, 6, 1)  		  	   		  		 		  		  		    	 		 		   		 		  
    portvals = get_data(["IBM"], pd.date_range(start_date, end_date))  		  	   		  		 		  		  		    	 		 		   		 		  
    portvals = portvals[["IBM"]]  # remove SPY  		  	   		  		 		  		  		    	 		 		   		 		  
    rv = pd.DataFrame(index=portvals.index, data=portvals.values)  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    df = pd.read_csv(order_file)
    display(df)
    return rv  		  	   		  		 		  		  		    	 		 		   		 		  
    return portvals

In [4]:
orders_file="orders-01.csv"  		  	   		  		 		  		  		    	 		 		   		 		  
start_val=1000000  		  	   		  		 		  		  		    	 		 		   		 		  
commission=9.95  		  	   		  		 		  		  		    	 		 		   		 		  
impact=0.005

In [214]:
df = pd.read_csv(orders_file)
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by="Date", ascending = True)
syms = df['Symbol'].unique() 

start_date = df.iloc[0,0]
end_date = df.iloc[-1,0]
price = get_data(syms, pd.date_range(start_date, end_date)).reset_index().rename(columns={'index':'Date'})
df_price = pd.merge(df, price, on='Date', how ='left')
df_price.set_index('Date', inplace=True)
del df_price['SPY']

df_port = df_price.copy()
df_port['Cash'] = 0
df_port.loc[start_date,'Cash'] = start_val
df_port[['AAPL', 'IBM', 'GOOG', 'XOM']] = 0
display(df_price)

for i, row in df_port.iterrows():
    share_price = df_price.loc[i, row['Symbol']]
    num_shares = row['Shares']
    
    if row['Order'] == "BUY":
        df_port.loc[i, 'Cash'] -= share_price * num_shares
        df_port.loc[i, row['Symbol']] += num_shares

#     elif row['Order']== "SELL": 
#         df_port.loc[i, 'Cash'] += share_price * num_shares
#         df_port.loc[i, row['Symbol']] -= num_shares
        
# rv = pd.DataFrame(index=portvals.index, data=portvals.values) 
# rv.columns = syms

df_port

           Symbol Order  Shares    AAPL     IBM    GOOG    XOM
Date
2011-01-10   AAPL   BUY    1500  340.99  143.41  614.21  72.02
2011-01-13   AAPL  SELL    1500  344.20  144.55  616.69  73.54
2011-01-13    IBM   BUY    4000  344.20  144.55  616.69  73.54
2011-01-26   GOOG   BUY    1000  342.38  156.42  616.50  76.37
2011-02-02    XOM  SELL    4000  342.85  158.62  612.00  79.96
2011-02-10    XOM   BUY    4000  353.02  160.02  616.44  80.18
2011-03-03   GOOG  SELL    1000  358.02  159.42  609.56  82.70
2011-03-03   GOOG  SELL    2200  358.02  159.42  609.56  82.70
2011-05-03    IBM   BUY    1500  346.71  168.58  533.89  82.51
2011-06-03    IBM  SELL    3300  341.97  161.67  523.08  78.68
2011-06-10   AAPL   BUY    1200  324.51  159.84  509.51  77.32
2011-08-01   GOOG   BUY      55  395.05  177.05  606.77  77.15
2011-08-01   GOOG  SELL      55  395.05  177.05  606.77  77.15
2011-12-20   AAPL  SELL    1200  394.26  184.95  630.37  80.47
2011-12-21   AAPL   BUY      20  394.76  179.25  625.82  81.57
2011-12-27   GOOG   BUY    2200  404.79  182.68  640.25  83.69
2011-12-28    IBM  SELL    2200  400.92  181.74  639.70  82.61

           Symbol Order  Shares  AAPL   IBM  GOOG   XOM        Cash
Date
2011-01-10   AAPL   BUY    1500  1500     0     0     0   488515.00
2011-01-13   AAPL  SELL    1500     0  4000     0     0  -578200.00
2011-01-13    IBM   BUY    4000     0  4000     0     0  -578200.00
2011-01-26   GOOG   BUY    1000     0     0  1000     0  -616500.00
2011-02-02    XOM  SELL    4000     0     0     0     0        0.00
2011-02-10    XOM   BUY    4000     0     0     0  4000  -320720.00
2011-03-03   GOOG  SELL    1000     0     0     0     0        0.00
2011-03-03   GOOG  SELL    2200     0     0     0     0        0.00
2011-05-03    IBM   BUY    1500     0  1500     0     0  -252870.00
2011-06-03    IBM  SELL    3300     0     0     0     0        0.00
2011-06-10   AAPL   BUY    1200  1200     0     0     0  -389412.00
2011-08-01   GOOG   BUY      55     0     0    55     0   -33372.35
2011-08-01   GOOG  SELL      55     0     0    55     0   -33372.35
2011-12-20   AAPL  SELL    1200     0     0     0     0        0.00
2011-12-21   AAPL   BUY      20    20     0     0     0    -7895.20
2011-12-27   GOOG   BUY    2200     0     0  2200     0 -1408550.00
2011-12-28    IBM  SELL    2200     0     0     0     0        0.00

In [ ]:
###my current

In [59]:
# trades = pd.read_csv(orders_file, index_col='Date', parse_dates=True, na_values=['nan'])
# trades = trades.sort_index()
# symbols = set(trades['Symbol'].values)
# start_date = trades.index.values[0]
# end_date = trades.index.values[-1]

df = pd.read_csv(orders_file)
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by="Date", ascending = True)
syms = df['Symbol'].unique() 

start_date = df['Date'].iloc[0]
end_date = df['Date'].iloc[-1]

price = get_data(syms, pd.date_range(start_date, end_date)).reset_index().rename(columns={'index': 'Date'})


# df_price = pd.merge(df, price, on=['Date'], how ='left')
# df['prices'] = price
def get_price(row):
    symbol = row['Symbol']
    date = row['Date']
    if symbol in price.columns:
        return price.loc[price['Date'] == date, symbol].values[0]
    else:
        return None

df['Price'] = df.apply(get_price, axis=1)


print(df)
df['Portval'] = 0 

sym_dict = {"port_val":0, "cash": start_val}
for i in syms:
    sym_dict[i] = 0


for i, row in df.iterrows():
    share_price = row['Price']
    num_shares = row['Shares']
    order_cost = share_price * num_shares

    if row['Order'] == "BUY":
        sym_dict['cash'] -= order_cost
        sym_dict[row['Symbol']] += num_shares
        sym_dict['port_val'] = sym_dict['cash'] + order_cost
        df_price.loc[i, 'Portval'] = sym_dict['port_val']

    elif row['Order']== "SELL": 
        sym_dict['cash'] += order_cost
        sym_dict[row['Symbol']] -= num_shares
        sym_dict['port_val'] = sym_dict['cash'] 
        df_price.loc[i, 'Portval']  = sym_dict['port_val']		  	   		  		 		  		  		    	 		 		   		 		  

for k,v in sym_dict.items():
    for i in syms:
        if i == k:
            if v > 0:
                shares_val = v * df_price[i].iloc[-1]
                df_price['Portval'].iloc[-1] += shares_val

vals = df_price[['Date', 'Portval']]
df2 = pd.merge(price, vals, on=['Date'], how ='left')
df2 = df2.drop_duplicates(subset='Date', keep='first')
df2['Portval'].fillna(method='ffill', inplace=True)  

portvals = df2[['Date', 'Portval']]
portvals.set_index('Date', inplace=True)    
display(df_price)

         Date Symbol Order  Shares     SPY    AAPL     IBM    GOOG    XOM
0  2011-01-10   AAPL   BUY    1500  123.19  340.99  143.41  614.21  72.02
1  2011-01-13   AAPL  SELL    1500  124.54  344.20  144.55  616.69  73.54
2  2011-01-13    IBM   BUY    4000  124.54  344.20  144.55  616.69  73.54
3  2011-01-26   GOOG   BUY    1000  125.80  342.38  156.42  616.50  76.37
4  2011-02-02    XOM  SELL    4000  126.60  342.85  158.62  612.00  79.96
5  2011-02-10    XOM   BUY    4000  128.37  353.02  160.02  616.44  80.18
6  2011-03-03   GOOG  SELL    1000  129.49  358.02  159.42  609.56  82.70
7  2011-03-03   GOOG  SELL    2200  129.49  358.02  159.42  609.56  82.70
8  2011-05-03    IBM   BUY    1500  132.25  346.71  168.58  533.89  82.51
9  2011-06-03    IBM  SELL    3300  127.08  341.97  161.67  523.08  78.68
10 2011-06-10   AAPL   BUY    1200  124.33  324.51  159.84  509.51  77.32
11 2011-08-01   GOOG   BUY      55  126.10  395.05  177.05  606.77  77.15
12 2011-08-01   GOOG  SELL      55  126.10  395.05  177.05  606.77  77.15
13 2011-12-20   AAPL  SELL    1200  122.75  394.26  184.95  630.37  80.47
14 2011-12-21   AAPL   BUY      20  122.99  394.76  179.25  625.82  81.57
15 2011-12-27   GOOG   BUY    2200  125.29  404.79  182.68  640.25  83.69
16 2011-12-28    IBM  SELL    2200  123.64  400.92  181.74  639.70  82.61

/Users/yuxi/anaconda3/envs/ml4t/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

         Date Symbol Order  Shares    AAPL     IBM    GOOG    XOM    Portval
0  2011-01-10   AAPL   BUY    1500  340.99  143.41  614.21  72.02  1000000.0
1  2011-01-13   AAPL  SELL    1500  344.20  144.55  616.69  73.54  1004815.0
2  2011-01-13    IBM   BUY    4000  344.20  144.55  616.69  73.54  1004815.0
3  2011-01-26   GOOG   BUY    1000  342.38  156.42  616.50  76.37   426615.0
4  2011-02-02    XOM  SELL    4000  342.85  158.62  612.00  79.96   129955.0
5  2011-02-10    XOM   BUY    4000  353.02  160.02  616.44  80.18   129955.0
6  2011-03-03   GOOG  SELL    1000  358.02  159.42  609.56  82.70   418795.0
7  2011-03-03   GOOG  SELL    2200  358.02  159.42  609.56  82.70  1759827.0
8  2011-05-03    IBM   BUY    1500  346.71  168.58  533.89  82.51  1759827.0
9  2011-06-03    IBM  SELL    3300  341.97  161.67  523.08  78.68  2040468.0
10 2011-06-10   AAPL   BUY    1200  324.51  159.84  509.51  77.32  2040468.0
11 2011-08-01   GOOG   BUY      55  395.05  177.05  606.77  77.15  1651056.0
12 2011-08-01   GOOG  SELL      55  395.05  177.05  606.77  77.15  1651056.0
13 2011-12-20   AAPL  SELL    1200  394.26  184.95  630.37  80.47  2124168.0
14 2011-12-21   AAPL   BUY      20  394.76  179.25  625.82  81.57  2124168.0
15 2011-12-27   GOOG   BUY    2200  404.79  182.68  640.25  83.69  2116272.8
16 2011-12-28    IBM  SELL    2200  400.92  181.74  639.70  82.61  1115569.2

In [112]:
order = pd.read_csv(orders_file)
order['Date'] = pd.to_datetime(order['Date'])
order = order.sort_values(by="Date", ascending = True)
syms = order['Symbol'].unique() 

start_date = order['Date'].iloc[0]
end_date = order['Date'].iloc[-1]

price = get_data(syms, pd.date_range(start_date, end_date)).reset_index().rename(columns={'index': 'Date'})

def get_inv(row):
    symbol = row['Symbol']
    date = row['Date']
    if symbol in price.columns:
        return price.loc[price['Date'] == date, symbol].values[0]*row['Shares']*row['Order']
    else:
        return None

order.loc[order['Order'] == 'BUY', 'Order'] = 1
order.loc[order['Order'] == 'SELL', 'Order'] = -1
order['investment'] = order.apply(get_inv, axis=1)
#order = order.groupby('Date')['investment'].aggregate(sum).reset_index()
order['cash']=0
start_val=1000000
for i, row in order.iterrows():
    order.at[i, 'cash'] = start_val - row['investment']
    start_val -= row['investment']
# order['cash'] = order.apply(get_cash, axis=1)
order
# df = pd.DataFrame({'Date':pd.date_range(start=start_date, end=end_date)})
# df = df.merge(order, on='Date', how='left')
# df=df.fillna(0)
# df['cash'] = start_val
# df['cash']=df['cash'].shift(1)-df['investment']
# df.at[0,'cash'] = start_val

# #df['color'] = ['red' if x == 'Z' else 'green' for x in df['Set']]
# #df['Cash']=df['Cash']-df['investment'].shift(1)
# df

         Date Symbol  Order  Shares  investment     cash
0  2011-01-10   AAPL      1    1500   511485.00   488515
1  2011-01-13   AAPL     -1    1500  -516300.00  1004815
2  2011-01-13    IBM      1    4000   578200.00   426615
3  2011-01-26   GOOG      1    1000   616500.00  -189885
4  2011-02-02    XOM     -1    4000  -319840.00   129955
5  2011-02-10    XOM      1    4000   320720.00  -190765
6  2011-03-03   GOOG     -1    1000  -609560.00   418795
7  2011-03-03   GOOG     -1    2200 -1341032.00  1759826
9  2011-05-03    IBM      1    1500   252870.00  1506956
8  2011-06-03    IBM     -1    3300  -533511.00  2040467
10 2011-06-10   AAPL      1    1200   389412.00  1651055
11 2011-08-01   GOOG      1      55    33372.35  1617683
12 2011-08-01   GOOG     -1      55   -33372.35  1651055
13 2011-12-20   AAPL     -1    1200  -473112.00  2124168
14 2011-12-21   AAPL      1      20     7895.20  2116272
15 2011-12-27   GOOG      1    2200  1408550.00   707722
16 2011-12-28    IBM     -1    2200  -399828.00  1107550

In [148]:
trades = pd.read_csv(orders_file)
trades['Date'] = pd.to_datetime(trades['Date'])
trades['Date'] = trades['Date'].dt.strftime('%Y-%m-%d')
trades = trades.sort_values(by="Date", ascending = True)
syms = trades['Symbol'].unique() 

start_date = trades['Date'].iloc[0]
end_date = trades['Date'].iloc[-1]

price = get_data(syms, pd.date_range(start_date, end_date)).reset_index().rename(columns={'index': 'Date'})
price['inv']=0
price['Date'] = price['Date'].dt.strftime('%Y-%m-%d')

portfolio = pd.DataFrame(columns=['Date', 'Cash'])
portfolio['Date'] = price['Date']
portfolio['Cash'] = start_val
portfolio['portval'] = 0

inv = {}
start_val=1000000
for i, row in price.iterrows():
    today = row['Date']
    prev_cash = start_val if i==0 else portfolio.at[i-1, 'Cash']
    if not trades.empty and today in trades.Date.values:
        today_trades = trades[trades['Date'] == today]
        for j, trade in today_trades.iterrows():
            print(trade)
            stock = trade['Symbol']
            if trade['Order'] == 'BUY':
                portfolio.at[i, 'Cash'] = prev_cash - trade['Shares']*row[stock]
                prev_cash = portfolio.at[i, 'Cash']
                print(prev_cash, stock, row[stock], trade['Shares'])
                print(portfolio.at[i, 'Cash'])
                inv[stock] = inv.get(stock, 0) + trade['Shares']
            else:
                portfolio.at[i, 'Cash'] = prev_cash + trade['Shares']*row[stock]
                prev_cash = portfolio.at[i, 'Cash']
                print(prev_cash, stock, row[stock], trade['Shares'])
                print(portfolio.at[i, 'Cash'])
                inv[stock] = inv.get(stock, 0) - trade['Shares']
            print(inv)

    else:
        portfolio.at[i, 'Cash'] = prev_cash
        
    portfolio.at[i, 'portval'] = prev_cash
    for stock, shares in inv.items():
        portfolio.at[i, 'portval'] += shares * row[stock]

portfolio.set_index('Date', inplace=True)
portfolio

Date      2011-01-10
Symbol          AAPL
Order            BUY
Shares          1500
Name: 0, dtype: object
1000000 AAPL 340.99 1500
488515
{'AAPL': 1500}
Date      2011-01-13
Symbol          AAPL
Order           SELL
Shares          1500
Name: 1, dtype: object
488515 AAPL 344.2 1500
1004815
{'AAPL': 0}
Date      2011-01-13
Symbol           IBM
Order            BUY
Shares          4000
Name: 2, dtype: object
488515 IBM 144.55 4000
-89685
{'AAPL': 0, 'IBM': 4000}
Date      2011-01-26
Symbol          GOOG
Order            BUY
Shares          1000
Name: 3, dtype: object
-89685 GOOG 616.5 1000
-706185
{'AAPL': 0, 'IBM': 4000, 'GOOG': 1000}
Date      2011-02-02
Symbol           XOM
Order           SELL
Shares          4000
Name: 4, dtype: object
-706185 XOM 79.96 4000
-386345
{'AAPL': 0, 'IBM': 4000, 'GOOG': 1000, 'XOM': -4000}
Date      2011-02-10
Symbol           XOM
Order            BUY
Shares          4000
Name: 5, dtype: object
-386345 XOM 80.18 4000
-707065
{'AAPL': 0, 'IBM': 4000, 'GOOG': 1000, 'XOM': 0}
Date      2011-03-03
Symbol          GOOG
Order           SELL
Shares          1000
Name: 6, dtype: object
-707065 GOOG 609.56 1000
-97505
{'AAPL': 0, 'IBM': 4000, 'GOOG': 0, 'XOM': 0}
Date      2011-03-03
Symbol          GOOG
Order           SELL
Shares          2200
Name: 7, dtype: object
-707065 GOOG 609.56 2200
633966
{'AAPL': 0, 'IBM': 4000, 'GOOG': -2200, 'XOM': 0}
Date      2011-05-03
Symbol           IBM
Order            BUY
Shares          1500
Name: 9, dtype: object
633966 IBM 168.58 1500
381096
{'AAPL': 0, 'IBM': 5500, 'GOOG': -2200, 'XOM': 0}
Date      2011-06-03
Symbol           IBM
Order           SELL
Shares          3300
Name: 8, dtype: object
381096 IBM 161.67 3300
914607
{'AAPL': 0, 'IBM': 2200, 'GOOG': -2200, 'XOM': 0}
Date      2011-06-10
Symbol          AAPL
Order            BUY
Shares          1200
Name: 10, dtype: object
914607 AAPL 324.51 1200
525195
{'AAPL': 1200, 'IBM': 2200, 'GOOG': -2200, 'XOM': 0}
Date      2011-08-01
Symbol          GOOG
Order            BUY
Shares            55
Name: 11, dtype: object
525195 GOOG 606.77 55
491822
{'AAPL': 1200, 'IBM': 2200, 'GOOG': -2145, 'XOM': 0}
Date      2011-08-01
Symbol          GOOG
Order           SELL
Shares            55
Name: 12, dtype: object
525195 GOOG 606.77 55
558567
{'AAPL': 1200, 'IBM': 2200, 'GOOG': -2200, 'XOM': 0}
Date      2011-12-20
Symbol          AAPL
Order           SELL
Shares          1200
Name: 13, dtype: object
558567 AAPL 394.26 1200
1031679
{'AAPL': 0, 'IBM': 2200, 'GOOG': -2200, 'XOM': 0}
Date      2011-12-21
Symbol          AAPL
Order            BUY
Shares            20
Name: 14, dtype: object
1031679 AAPL 394.76 20
1023783
{'AAPL': 20, 'IBM': 2200, 'GOOG': -2200, 'XOM': 0}
Date      2011-12-27
Symbol          GOOG
Order            BUY
Shares          2200
Name: 15, dtype: object
1023783 GOOG 640.25 2200
-384767
{'AAPL': 20, 'IBM': 2200, 'GOOG': 0, 'XOM': 0}
Date      2011-12-28
Symbol           IBM
Order           SELL
Shares          2200
Name: 16, dtype: object
-384767 IBM 181.74 2200
15061
{'AAPL': 20, 'IBM': 0, 'GOOG': 0, 'XOM': 0}

               Cash  portval
Date
2011-01-10   488515  1511485
2011-01-11   488515   998785
2011-01-12   488515  1002940
2011-01-13   -89685  1066715
2011-01-14   -89685   493115
2011-01-18   -89685   495635
2011-01-19   -89685   515195
2011-01-20   -89685   515635
2011-01-21   -89685   514475
2011-01-24   -89685   530515
2011-01-25   -89685   537555
2011-01-26  -706185  1152495
2011-01-27  -706185   536405
2011-01-28  -706185   513365
2011-01-31  -706185   523575
2011-02-01  -706185   540335
2011-02-02  -386345   220455
2011-02-03  -386345   539205
2011-02-04  -386345   542475
2011-02-07  -386345   546465
2011-02-08  -386345   559875
2011-02-09  -386345   554195
2011-02-10  -707065   870175
2011-02-11  -707065   556555
2011-02-14  -707065   557765
2011-02-15  -707065   552285
2011-02-16  -707065   554515
2011-02-17  -707065   558835
2011-02-18  -707065   566015
2011-02-22  -707065   534865
...             ...      ...
2011-11-15   558567    76907
2011-11-16   558567    78615
2011-11-17   558567    91203
2011-11-18   558567   100373
2011-11-21   558567   115786
2011-11-22   558567   126445
2011-11-23   558567   129523
2011-11-25   558567   139149
2011-11-28   558567   109916
2011-11-29   558567   115225
2011-11-30   558567   105133
2011-12-01   558567    83483
2011-12-02   558567    71559
2011-12-05   558567    66433
2011-12-06   558567    72685
2011-12-07   558567    73699
2011-12-08   558567    86351
2011-12-09   558567    71367
2011-12-12   558567    68527
2011-12-13   558567    62143
2011-12-14   558567    63187
2011-12-15   558567    55759
2011-12-16   558567    35627
2011-12-19   558567    44667
2011-12-20  1031679  -421357
2011-12-21  1023783    57120
2011-12-22  1023783    41962
2011-12-23  1023783    40385
2011-12-27  -384767  1433774
2011-12-28    15061  -376748

[245 rows x 2 columns]

In [135]:
trades['Date'].values

array(['1/10/11', '1/13/11', '1/13/11', '1/26/11', '12/20/11', '12/21/11',
       '12/27/11', '12/28/11', '2/10/11', '2/2/11', '3/3/11', '3/3/11',
       '5/3/11', '6/10/11', '6/3/11', '8/1/11', '8/1/11'], dtype=object)

In [71]:
def get_price(row):
    symbol = row['Symbol']
    date = row['Date']
    if symbol in price.columns:
        return price.loc[price['Date'] == date, symbol].values[0]
    else:
        return None

df['prices'] = df.apply(get_price, axis=1)
df

In [113]:
price

          Date     SPY    AAPL     IBM    GOOG    XOM
0   2011-01-10  123.19  340.99  143.41  614.21  72.02
1   2011-01-11  123.63  340.18  143.06  616.01  72.56
2   2011-01-12  124.74  342.95  144.82  616.87  73.41
3   2011-01-13  124.54  344.20  144.55  616.69  73.54
4   2011-01-14  125.44  346.99  145.70  624.18  74.62
5   2011-01-18  125.65  339.19  146.33  639.63  75.45
6   2011-01-19  124.42  337.39  151.22  631.75  75.00
7   2011-01-20  124.26  331.26  151.33  626.77  74.53
8   2011-01-21  124.54  325.32  151.04  611.83  75.71
9   2011-01-24  125.25  336.01  155.05  611.08  75.34
10  2011-01-25  125.31  339.94  156.81  619.91  75.43
11  2011-01-26  125.80  342.38  156.42  616.50  76.37
12  2011-01-27  126.11  341.74  156.45  616.79  76.58
13  2011-01-28  123.91  334.66  154.64  600.99  75.72
14  2011-01-31  124.84  337.87  157.35  600.36  77.34
15  2011-02-01  126.84  343.55  158.87  611.04  80.44
16  2011-02-02  126.60  342.85  158.62  612.00  79.96
17  2011-02-03  126.88  341.97  158.84  610.15  79.99
18  2011-02-04  127.24  345.02  159.30  610.98  79.84
19  2011-02-07  128.03  350.38  160.09  614.29  80.46
20  2011-02-08  128.61  353.68  161.93  618.38  79.97
21  2011-02-09  128.32  356.63  160.56  616.50  79.55
22  2011-02-10  128.37  353.02  160.02  616.44  80.18
23  2011-02-11  129.14  355.32  159.78  624.50  79.81
24  2011-02-14  129.45  357.64  159.17  628.15  81.83
25  2011-02-15  129.04  358.36  158.80  624.15  79.96
26  2011-02-16  129.85  361.58  159.34  624.22  80.65
27  2011-02-17  130.24  356.77  160.16  625.26  80.83
28  2011-02-18  130.51  349.06  160.75  630.08  81.43
29  2011-02-22  127.90  337.16  157.93  610.21  82.34
..         ...     ...     ...     ...     ...    ...
215 2011-11-15  124.10  387.17  186.44  616.56  77.62
216 2011-11-16  122.13  383.13  184.33  611.47  76.79
217 2011-11-17  120.19  375.80  183.45  600.87  76.41
218 2011-11-18  120.06  373.34  182.97  594.88  76.45
219 2011-11-21  117.78  367.43  179.26  580.94  75.48
220 2011-11-22  117.31  374.90  179.09  580.00  74.61
221 2011-11-23  114.73  365.42  175.77  570.11  73.19
222 2011-11-25  114.51  362.02  174.89  563.00  72.52
223 2011-11-28  117.83  374.51  179.98  588.19  74.43
224 2011-11-29  118.16  371.60  178.72  582.93  75.50
225 2011-11-30  123.02  380.57  185.70  599.39  78.94
226 2011-12-01  123.00  386.27  187.13  613.77  78.30
227 2011-12-02  122.89  388.03  187.34  620.36  78.30
228 2011-12-05  124.23  391.33  188.50  625.65  78.95
229 2011-12-06  124.27  389.28  190.58  623.77  79.31
230 2011-12-07  124.74  387.43  191.67  623.39  79.57
231 2011-12-08  122.00  388.99  189.23  616.05  78.38
232 2011-12-09  124.07  391.94  192.18  627.42  79.82
233 2011-12-12  122.26  390.16  189.83  625.39  78.56
234 2011-12-13  121.11  387.15  188.81  625.63  79.03
235 2011-12-14  119.82  378.56  186.41  618.07  77.96
236 2011-12-15  120.26  377.32  185.18  619.54  78.54
237 2011-12-16  120.44  379.39  181.32  625.96  78.67
238 2011-12-19  119.15  380.58  180.65  621.83  78.05
239 2011-12-20  122.75  394.26  184.95  630.37  80.47
240 2011-12-21  122.99  394.76  179.25  625.82  81.57
241 2011-12-22  124.08  396.85  179.81  629.70  82.72
242 2011-12-23  125.19  401.61  182.49  633.14  83.63
243 2011-12-27  125.29  404.79  182.68  640.25  83.69
244 2011-12-28  123.64  400.92  181.74  639.70  82.61

[245 rows x 6 columns]

In [73]:
portvals

              Portval
Date
2011-01-10  1000000.0
2011-01-11  1000000.0
2011-01-12  1000000.0
2011-01-13  1004815.0
2011-01-14  1004815.0
2011-01-18  1004815.0
2011-01-19  1004815.0
2011-01-20  1004815.0
2011-01-21  1004815.0
2011-01-24  1004815.0
2011-01-25  1004815.0
2011-01-26   426615.0
2011-01-27   426615.0
2011-01-28   426615.0
2011-01-31   426615.0
2011-02-01   426615.0
2011-02-02   129955.0
2011-02-03   129955.0
2011-02-04   129955.0
2011-02-07   129955.0
2011-02-08   129955.0
2011-02-09   129955.0
2011-02-10   129955.0
2011-02-11   129955.0
2011-02-14   129955.0
2011-02-15   129955.0
2011-02-16   129955.0
2011-02-17   129955.0
2011-02-18   129955.0
2011-02-22   129955.0
...               ...
2011-11-15  1651056.0
2011-11-16  1651056.0
2011-11-17  1651056.0
2011-11-18  1651056.0
2011-11-21  1651056.0
2011-11-22  1651056.0
2011-11-23  1651056.0
2011-11-25  1651056.0
2011-11-28  1651056.0
2011-11-29  1651056.0
2011-11-30  1651056.0
2011-12-01  1651056.0
2011-12-02  1651056.0
2011-12-05  1651056.0
2011-12-06  1651056.0
2011-12-07  1651056.0
2011-12-08  1651056.0
2011-12-09  1651056.0
2011-12-12  1651056.0
2011-12-13  1651056.0
2011-12-14  1651056.0
2011-12-15  1651056.0
2011-12-16  1651056.0
2011-12-19  1651056.0
2011-12-20  2124168.0
2011-12-21  2124168.0
2011-12-22  2124168.0
2011-12-23  2124168.0
2011-12-27  2116272.8
2011-12-28  1115569.2

[245 rows x 1 columns]

In [ ]:
def test_code():  		  	   		  		 		  		  		    	 		 		   		 		  
    """  		  	   		  		 		  		  		    	 		 		   		 		  
    Helper function to test code  		  	   		  		 		  		  		    	 		 		   		 		  
    """  		  	   		  		 		  		  		    	 		 		   		 		  
    # this is a helper function you can use to test your code  		  	   		  		 		  		  		    	 		 		   		 		  
    # note that during autograding his function will not be called.  		  	   		  		 		  		  		    	 		 		   		 		  
    # Define input parameters  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    of = "./orders/orders2.csv"  		  	   		  		 		  		  		    	 		 		   		 		  
    sv = 1000000  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    # Process orders  		  	   		  		 		  		  		    	 		 		   		 		  
    portvals = compute_portvals(orders_file=of, start_val=sv)  		  	   		  		 		  		  		    	 		 		   		 		  
    if isinstance(portvals, pd.DataFrame):  		  	   		  		 		  		  		    	 		 		   		 		  
        portvals = portvals[portvals.columns[0]]  # just get the first column  		  	   		  		 		  		  		    	 		 		   		 		  
    else:  		  	   		  		 		  		  		    	 		 		   		 		  
        "warning, code did not return a DataFrame"  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    # Get portfolio stats  		  	   		  		 		  		  		    	 		 		   		 		  
    # Here we just fake the data. you should use your code from previous assignments.  		  	   		  		 		  		  		    	 		 		   		 		  
    start_date = dt.datetime(2008, 1, 1)  		  	   		  		 		  		  		    	 		 		   		 		  
    end_date = dt.datetime(2008, 6, 1)  		  	   		  		 		  		  		    	 		 		   		 		  
    cum_ret, avg_daily_ret, std_daily_ret, sharpe_ratio = [  		  	   		  		 		  		  		    	 		 		   		 		  
        0.2,  		  	   		  		 		  		  		    	 		 		   		 		  
        0.01,  		  	   		  		 		  		  		    	 		 		   		 		  
        0.02,  		  	   		  		 		  		  		    	 		 		   		 		  
        1.5,  		  	   		  		 		  		  		    	 		 		   		 		  
    ]  		  	   		  		 		  		  		    	 		 		   		 		  
    cum_ret_SPY, avg_daily_ret_SPY, std_daily_ret_SPY, sharpe_ratio_SPY = [  		  	   		  		 		  		  		    	 		 		   		 		  
        0.2,  		  	   		  		 		  		  		    	 		 		   		 		  
        0.01,  		  	   		  		 		  		  		    	 		 		   		 		  
        0.02,  		  	   		  		 		  		  		    	 		 		   		 		  
        1.5,  		  	   		  		 		  		  		    	 		 		   		 		  
    ]  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
    # Compare portfolio against $SPX  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Date Range: {start_date} to {end_date}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print()  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Sharpe Ratio of Fund: {sharpe_ratio}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Sharpe Ratio of SPY : {sharpe_ratio_SPY}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print()  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Cumulative Return of Fund: {cum_ret}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Cumulative Return of SPY : {cum_ret_SPY}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print()  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Standard Deviation of Fund: {std_daily_ret}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Standard Deviation of SPY : {std_daily_ret_SPY}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print()  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Average Daily Return of Fund: {avg_daily_ret}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Average Daily Return of SPY : {avg_daily_ret_SPY}")  		  	   		  		 		  		  		    	 		 		   		 		  
    print()  		  	   		  		 		  		  		    	 		 		   		 		  
    print(f"Final Portfolio Value: {portvals[-1]}")  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
  		  	   		  		 		  		  		    	 		 		   		 		  
if __name__ == "__main__":  		  	   		  		 		  		  		    	 		 		   		 		  
    test_code()  		  	   		  		 		  		  		    	 		 		   		 		  




#Hint, use code like this to read in the orders file: 
'''
orders_df = pandas.read_csv(orders_file, index_col=Date, parse_dates=True, na_values=[nan]) 
'''
#In terms of execution prices, you should assume you get the adjusted close price for the day of the trade.

In [75]:
df = pd.read_csv(orders_file)
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by="Date", ascending = True)
syms = df['Symbol'].unique() 

start_date = np.datetime64(df['Date'].iloc[0])
end_date = np.datetime64(df['Date'].iloc[-1])
df = df.set_index('Date')

prices = get_data(syms, pd.date_range(start_date, end_date))



prices['Cash'] = 1 
print(prices)
daily_port = prices.copy() * 0 

print(daily_port)




holdings = prices * 0.0
holdings.iloc[0, -1] = start_val
for index, row in df.iterrows():
    stock = row[0]
    shares = row[2]
    price = prices.loc[index, stock]
    total_impact = shares * price * impact
    if row[1] == "BUY":
        buy_sell = 1
    else:
        buy_sell = -1
    share_amount = buy_sell * shares
    total_share_prices = share_amount * price
    holdings.loc[index, stock] += share_amount
    holdings.loc[index, "Cash"] -= total_share_prices
    holdings.loc[index, "Cash"] -= commission
    holdings.loc[index, "Cash"] -= total_impact


for date_row in range(1, holdings.shape[0]):
    for stock in range(0, holdings.shape[1]):
        new_stock_holding = holdings.iloc[date_row, stock] + holdings.iloc[date_row -1, stock]
        holdings.iloc[date_row, stock] = new_stock_holding

portfolio = prices * holdings

portfolio["port_val"] = portfolio.sum(axis = 1)
portfolio["daily_returns"] = (portfolio["port_val"][1:] /
portfolio["port_val"][:-1].values) - 1
portfolio["daily_returns"][0] = 0
portvals = portfolio.iloc[:, -2:-1]

display(portfolio)
display(portvals.head())

               SPY    AAPL     IBM    GOOG    XOM  Cash
2011-01-10  123.19  340.99  143.41  614.21  72.02     1
2011-01-11  123.63  340.18  143.06  616.01  72.56     1
2011-01-12  124.74  342.95  144.82  616.87  73.41     1
2011-01-13  124.54  344.20  144.55  616.69  73.54     1
2011-01-14  125.44  346.99  145.70  624.18  74.62     1
2011-01-18  125.65  339.19  146.33  639.63  75.45     1
2011-01-19  124.42  337.39  151.22  631.75  75.00     1
2011-01-20  124.26  331.26  151.33  626.77  74.53     1
2011-01-21  124.54  325.32  151.04  611.83  75.71     1
2011-01-24  125.25  336.01  155.05  611.08  75.34     1
2011-01-25  125.31  339.94  156.81  619.91  75.43     1
2011-01-26  125.80  342.38  156.42  616.50  76.37     1
2011-01-27  126.11  341.74  156.45  616.79  76.58     1
2011-01-28  123.91  334.66  154.64  600.99  75.72     1
2011-01-31  124.84  337.87  157.35  600.36  77.34     1
2011-02-01  126.84  343.55  158.87  611.04  80.44     1
2011-02-02  126.60  342.85  158.62  612.00  79.96     1
2011-02-03  126.88  341.97  158.84  610.15  79.99     1
2011-02-04  127.24  345.02  159.30  610.98  79.84     1
2011-02-07  128.03  350.38  160.09  614.29  80.46     1
2011-02-08  128.61  353.68  161.93  618.38  79.97     1
2011-02-09  128.32  356.63  160.56  616.50  79.55     1
2011-02-10  128.37  353.02  160.02  616.44  80.18     1
2011-02-11  129.14  355.32  159.78  624.50  79.81     1
2011-02-14  129.45  357.64  159.17  628.15  81.83     1
2011-02-15  129.04  358.36  158.80  624.15  79.96     1
2011-02-16  129.85  361.58  159.34  624.22  80.65     1
2011-02-17  130.24  356.77  160.16  625.26  80.83     1
2011-02-18  130.51  349.06  160.75  630.08  81.43     1
2011-02-22  127.90  337.16  157.93  610.21  82.34     1
...            ...     ...     ...     ...    ...   ...
2011-11-15  124.10  387.17  186.44  616.56  77.62     1
2011-11-16  122.13  383.13  184.33  611.47  76.79     1
2011-11-17  120.19  375.80  183.45  600.87  76.41     1
2011-11-18  120.06  373.34  182.97  594.88  76.45     1
2011-11-21  117.78  367.43  179.26  580.94  75.48     1
2011-11-22  117.31  374.90  179.09  580.00  74.61     1
2011-11-23  114.73  365.42  175.77  570.11  73.19     1
2011-11-25  114.51  362.02  174.89  563.00  72.52     1
2011-11-28  117.83  374.51  179.98  588.19  74.43     1
2011-11-29  118.16  371.60  178.72  582.93  75.50     1
2011-11-30  123.02  380.57  185.70  599.39  78.94     1
2011-12-01  123.00  386.27  187.13  613.77  78.30     1
2011-12-02  122.89  388.03  187.34  620.36  78.30     1
2011-12-05  124.23  391.33  188.50  625.65  78.95     1
2011-12-06  124.27  389.28  190.58  623.77  79.31     1
2011-12-07  124.74  387.43  191.67  623.39  79.57     1
2011-12-08  122.00  388.99  189.23  616.05  78.38     1
2011-12-09  124.07  391.94  192.18  627.42  79.82     1
2011-12-12  122.26  390.16  189.83  625.39  78.56     1
2011-12-13  121.11  387.15  188.81  625.63  79.03     1
2011-12-14  119.82  378.56  186.41  618.07  77.96     1
2011-12-15  120.26  377.32  185.18  619.54  78.54     1
2011-12-16  120.44  379.39  181.32  625.96  78.67     1
2011-12-19  119.15  380.58  180.65  621.83  78.05     1
2011-12-20  122.75  394.26  184.95  630.37  80.47     1
2011-12-21  122.99  394.76  179.25  625.82  81.57     1
2011-12-22  124.08  396.85  179.81  629.70  82.72     1
2011-12-23  125.19  401.61  182.49  633.14  83.63     1
2011-12-27  125.29  404.79  182.68  640.25  83.69     1
2011-12-28  123.64  400.92  181.74  639.70  82.61     1

[245 rows x 6 columns]
            SPY  AAPL  IBM  GOOG  XOM  Cash
2011-01-10  0.0   0.0  0.0   0.0  0.0     0
2011-01-11  0.0   0.0  0.0   0.0  0.0     0
2011-01-12  0.0   0.0  0.0   0.0  0.0     0
2011-01-13  0.0   0.0  0.0   0.0  0.0     0
2011-01-14  0.0   0.0  0.0   0.0  0.0     0
2011-01-18  0.0   0.0  0.0   0.0  0.0     0
2011-01-19  0.0   0.0  0.0   0.0  0.0     0
2011-01-20  0.0   0.0  0.0   0.0  0.0     0
2011-01-21  0.0   0.0  0.0   0.0  0.0     0
2011-01-24  0.0   0.0  0.0   0.0  0.0     0
2011-01-25  0.0   0.0  0.0   0.0  0.0     0
2011-01-26  0.0   0.0  0.0   0.0  0.0     0
2011-01-27  0.0   0.0  0.0   0.0  0.0     0
2011-01-28  0.0   0.0  0.0   0.0  0.0     0
2011-01-31  0.0   0.0  0.0   0.0  0.0     0
2011-02-01  0.0   0.0  0.0   0.0  0.0     0
2011-02-02  0.0   0.0  0.0   0.0  0.0     0
2011-02-03  0.0   0.0  0.0   0.0  0.0     0
2011-02-04  0.0   0.0  0.0   0.0  0.0     0
2011-02-07  0.0   0.0  0.0   0.0  0.0     0
2011-02-08  0.0   0.0  0.0   0.0  0.0     0
2011-02-09  0.0   0.0  0.0   0.0  0.0     0
2011-02-10  0.0   0.0  0.0   0.0  0.0     0
2011-02-11  0.0   0.0  0.0   0.0  0.0     0
2011-02-14  0.0   0.0  0.0   0.0  0.0     0
2011-02-15  0.0   0.0  0.0   0.0  0.0     0
2011-02-16  0.0   0.0  0.0   0.0  0.0     0
2011-02-17  0.0   0.0  0.0   0.0  0.0     0
2011-02-18  0.0   0.0  0.0   0.0  0.0     0
2011-02-22  0.0   0.0  0.0   0.0  0.0     0
...         ...   ...  ...   ...  ...   ...
2011-11-15  0.0   0.0  0.0   0.0  0.0     0
2011-11-16  0.0   0.0  0.0   0.0  0.0     0
2011-11-17  0.0   0.0  0.0   0.0  0.0     0
2011-11-18  0.0   0.0  0.0   0.0  0.0     0
2011-11-21  0.0   0.0  0.0   0.0  0.0     0
2011-11-22  0.0   0.0  0.0   0.0  0.0     0
2011-11-23  0.0   0.0  0.0   0.0  0.0     0
2011-11-25  0.0   0.0  0.0   0.0  0.0     0
2011-11-28  0.0   0.0  0.0   0.0  0.0     0
2011-11-29  0.0   0.0  0.0   0.0  0.0     0
2011-11-30  0.0   0.0  0.0   0.0  0.0     0
2011-12-01  0.0   0.0  0.0   0.0  0.0     0
2011-12-02  0.0   0.0  0.0   0.0  0.0     0
2011-12-05  0.0   0.0  0.0   0.0  0.0     0
2011-12-06  0.0   0.0  0.0   0.0  0.0     0
2011-12-07  0.0   0.0  0.0   0.0  0.0     0
2011-12-08  0.0   0.0  0.0   0.0  0.0     0
2011-12-09  0.0   0.0  0.0   0.0  0.0     0
2011-12-12  0.0   0.0  0.0   0.0  0.0     0
2011-12-13  0.0   0.0  0.0   0.0  0.0     0
2011-12-14  0.0   0.0  0.0   0.0  0.0     0
2011-12-15  0.0   0.0  0.0   0.0  0.0     0
2011-12-16  0.0   0.0  0.0   0.0  0.0     0
2011-12-19  0.0   0.0  0.0   0.0  0.0     0
2011-12-20  0.0   0.0  0.0   0.0  0.0     0
2011-12-21  0.0   0.0  0.0   0.0  0.0     0
2011-12-22  0.0   0.0  0.0   0.0  0.0     0
2011-12-23  0.0   0.0  0.0   0.0  0.0     0
2011-12-27  0.0   0.0  0.0   0.0  0.0     0
2011-12-28  0.0   0.0  0.0   0.0  0.0     0

[245 rows x 6 columns]

,SPY,AAPL,IBM,GOOG,XOM,Cash,port_val,daily_returns
2011-01-10,0.0,511485.0,0.0,0.0,0.0,4.859476e+05,9.974326e+05,0.000000
2011-01-11,0.0,510270.0,0.0,0.0,0.0,4.859476e+05,9.962176e+05,-0.001218
2011-01-12,0.0,514425.0,0.0,0.0,0.0,4.859476e+05,1.000373e+06,0.004171
2011-01-13,0.0,0.0,578200.0,0.0,0.0,4.185552e+05,9.967552e+05,-0.003616
2011-01-14,0.0,0.0,582800.0,0.0,0.0,4.185552e+05,1.001355e+06,0.004615
2011-01-18,0.0,0.0,585320.0,0.0,0.0,4.185552e+05,1.003875e+06,0.002517
2011-01-19,0.0,0.0,604880.0,0.0,0.0,4.185552e+05,1.023435e+06,0.019484
2011-01-20,0.0,0.0,605320.0,0.0,0.0,4.185552e+05,1.023875e+06,0.000430
2011-01-21,0.0,0.0,604160.0,0.0,0.0,4.185552e+05,1.022715e+06,-0.001133
2011-01-24,0.0,0.0,620200.0,0.0,0.0,4.185552e+05,1.038755e+06,0.015684
2011-01-25,0.0,0.0,627240.0,0.0,0.0,4.185552e+05,1.045795e+06,0.006777
2011-01-26,0.0,0.0,625680.0,616500.0,0.0,-2.010372e+05,1.041143e+06,-0.004449
2011-01-27,0.0,0.0,625800.0,616790.0,0.0,-2.010372e+05,1.041553e+06,0.000394
2011-01-28,0.0,0.0,618560.0,600990.0,0.0,-2.010372e+05,1.018513e+06,-0.022121
2011-01-31,0.0,0.0,629400.0,600360.0,0.0,-2.010372e+05,1.028723e+06,0.010024
2011-02-01,0.0,0.0,635480.0,611040.0,0.0,-2.010372e+05,1.045483e+06,0.016292
2011-02-02,0.0,0.0,634480.0,612000.0,-319840.0,1.171936e+05,1.043834e+06,-0.001577
2011-02-03,0.0,0.0,635360.0,610150.0,-319960.0,1.171936e+05,1.042744e+06,-0.001044
2011-02-04,0.0,0.0,637200.0,610980.0,-319360.0,1.171936e+05,1.046014e+06,0.003136
2011-02-07,0.0,0.0,640360.0,614290.0,-321840.0,1.171936e+05,1.050004e+06,0.003814
2011-02-08,0.0,0.0,647720.0,618380.0,-319880.0,1.171936e+05,1.063414e+06,0.012771
2011-02-09,0.0,0.0,642240.0,616500.0,-318200.0,1.171936e+05,1.057734e+06,-0.005341
2011-02-10,0.0,0.0,640080.0,616440.0,0.0,-2.051399e+05,1.051380e+06,-0.006007
2011-02-11,0.0,0.0,639120.0,624500.0,0.0,-2.051399e+05,1.058480e+06,0.006753
2011-02-14,0.0,0.0,636680.0,628150.0,0.0,-2.051399e+05,1.059690e+06,0.001143
2011-02-15,0.0,0.0,635200.0,624150.0,0.0,-2.051399e+05,1.054210e+06,-0.005171
2011-02-16,0.0,0.0,637360.0,624220.0,0.0,-2.051399e+05,1.056440e+06,0.002115
2011-02-17,0.0,0.0,640640.0,625260.0,0.0,-2.051399e+05,1.060760e+06,0.004089
2011-02-18,0.0,0.0,643000.0,630080.0,0.0,-2.051399e+05,1.067940e+06,0.006769
2011-02-22,0.0,0.0,631720.0,610210.0,0.0,-2.051399e+05,1.036790e+06,-0.029168
...,...,...,...,...,...,...,...,...
2011-11-15,0.0,464604.0,410168.0,-1356432.0,0.0,1.620646e+06,1.138986e+06,0.005883
2011-11-16,0.0,459756.0,405526.0,-1345234.0,0.0,1.620646e+06,1.140694e+06,0.001500
2011-11-17,0.0,450960.0,403590.0,-1321914.0,0.0,1.620646e+06,1.153282e+06,0.011035
2011-11-18,0.0,448008.0,402534.0,-1308736.0,0.0,1.620646e+06,1.162452e+06,0.007951
2011-11-21,0.0,440916.0,394372.0,-1278068.0,0.0,1.620646e+06,1.177866e+06,0.013260
2011-11-22,0.0,449880.0,393998.0,-1276000.0,0.0,1.620646e+06,1.188524e+06,0.009049
2011-11-23,0.0,438504.0,386694.0,-1254242.0,0.0,1.620646e+06,1.191602e+06,0.002590
2011-11-25,0.0,434424.0,384758.0,-1238600.0,0.0,1.620646e+06,1.201228e+06,0.008078
2011-11-28,0.0,449412.0,395956.0,-1294018.0,0.0,1.620646e+06,1.171996e+06,-0.024335
2011-11-29,0.0,445920.0,393184.0,-1282446.0,0.0,1.620646e+06,1.177304e+06,0.004529
2011-11-30,0.0,456684.0,408540.0,-1318658.0,0.0,1.620646e+06,1.167212e+06,-0.008572
2011-12-01,0.0,463524.0,411686.0,-1350294.0,0.0,1.620646e+06,1.145562e+06,-0.018548
2011-12-02,0.0,465636.0,412148.0,-1364792.0,0.0,1.620646e+06,1.133638e+06,-0.010409
2011-12-05,0.0,469596.0,414700.0,-1376430.0,0.0,1.620646e+06,1.128512e+06,-0.004522
2011-12-06,0.0,467136.0,419276.0,-1372294.0,0.0,1.620646e+06,1.134764e+06,0.005540
2011-12-07,0.0,464916.0,421674.0,-1371458.0,0.0,1.620646e+06,1.135778e+06,0.000894
2011-12-08,0.0,466788.0,416306.0,-1355310.0,0.0,1.620646e+06,1.148430e+06,0.011140
2011-12-09,0.0,470328.0,422796.0,-1380324.0,0.0,1.620646e+06,1.133446e+06,-0.013047
2011-12-12,0.0,468192.0,417626.0,-1375858.0,0.0,1.620646e+06,1.130606e+06,-0.002506
2011-12-13,0.0,464580.0,415382.0,-1376386.0,0.0,1.620646e+06,1.124222e+06,-0.005647
2011-12-14,0.0,454272.0,410102.0,-1359754.0,0.0,1.620646e+06,1.125266e+06,0.000929
2011-12-15,0.0,452784.0,407396.0,-1362988.0,0.0,1.620646e+06,1.117838e+06,-0.006601
2011-12-16,0.0,455268.0,398904.0,-1377112.0,0.0,1.620646e+06,1.097706e+06,-0.018010
2011-12-19,0.0,456696.0,397430.0,-1368026.0,0.0,1.620646e+06,1.106746e+06,0.008235
2011-12-20,0.0,0.0,406890.0,-1386814.0,0.0,2.091382e+06,1.111458e+06,0.004258
2011-12-21,0.0,7895.2,394350.0,-1376804.0,0.0,2.083438e+06,1.108879e+06,-0.002321
2011-12-22,0.0,7937.0,395582.0,-1385340.0,0.0,2.083438e+06,1.101617e+06,-0.006549
2011-12-23,0.0,8032.2,401478.0,-1392908.0,0.0,2.083438e+06,1.100040e+06,-0.001431
2011-12-27,0.0,8095.8,401896.0,0.0,0.0,6.678349e+05,1.077827e+06,-0.020193
2011-12-28,0.0,8018.4,0.0,0.0,0.0,1.065654e+06,1.073672e+06,-0.003855

               port_val
2011-01-10   997432.625
2011-01-11   996217.625
2011-01-12  1000372.625
2011-01-13   996755.225
2011-01-14  1001355.225